

@font-face {
	font-family: 'medium';
	src: url('../fonts/GT-Walsheim-Pro-Trial-Medium.otf') format('otf');
	font-weight: normal;
}
@font-face {
	font-family: 'regular';
	src: url('../fonts/GT-Walsheim-Pro-Trial-Regular.otf') format('otf');
	font-weight: normal;
}
$blueFirstPage : #4FD0EA;
$greenSecondPage : #69B982;
$greenThirdPage : #4CB7B8;
$greenFourth : #A5D370;

* { box-sizing: border-box }

body,html{
	width:100%;
	height:100%;
	//min-height: 100%;

	transition: background 4s ease;
	//background-color:$blueFirstPage;
}
h1{
	font-family:medium;
	line-height: 42px; 
}

.secondTitle,.thirdTitle,.fourthTitle,.secondText,.thirdText,.fourthText{
	opacity:0;
	margin-top:2.5rem;
}
.secondText,.thirdText,.fourthText{
	margin-bottom:2.5rem;
}
.thirdTitle, .fourthTitle{
	padding-top:2.5rem;
}
.linktop{
	font-size: 1rem;
	margin-left:67rem;
	margin-top:4rem;
	font-family:medium;
	font-weight:900;
	position:absolute;
	z-index:50;
	
	a{
		border-radius:.2rem;
		padding:.5rem;
		font-family:medium;
		//margin-left:1rem;
		color:white;
		outline:none;
		text-decoration:none;
		&:hover{
			color:#32A2C9;
			background:white;

		}
	}
}
.linkbottom{
	font-size: .9rem;
	margin-left:50rem;
	margin-top:34rem;
	font-family:medium;
	font-weight:900;
	position:absolute;
	z-index:50;
	
	a{
		
		padding:.5rem;
		font-family:regular;
		//margin-left:1rem;
		color:white;
		outline:none;
		text-decoration:none;
		&:hover{
			color:#32A2C9;
			

		}
	}
}

.text{
	font-size: 1.4rem;
	margin-left:38rem;
	margin-top:7.5rem;
	font-family:regular;
	position:absolute;
	z-index:50;
	width:335px;
	color:white;
	margin-bottom:3rem;
	p{
		font-size: 1.15rem;
	}
	
}
.getTheApp.secondText{
	background-color:#86C79D;
}
.getTheApp.thirdText{
	background-color:#73C7C4;
}
.getTheApp.fourthText{
	background-color:#B7DC8D;
}

.getTheApp{
	color:white;
	line-height:3.5rem;
	width:12rem;
	height:3.5rem;
	background-color:#74D9E9;
	border-radius:.2rem;
	font-weight:900;
	span{
		display:flex;
		i{
			width:20px;
			height:20px;
		    color:inherit;
		    z-index: 1250;
		}
		p{
			margin-left:1rem;

		}
	}
}
img {
	display: block;

}
.mobile{
	display:block;

	.logo{
		position:absolute;
		transform: scale(.5);
		z-index:15;
		margin-top:2rem;
	}
	.overflow{
		width:236px;
		height: 420px;
		overflow:hidden;
		top:6.1rem;
		position:absolute;
		//background-color:black;
		margin-left:18.5rem;
		z-index:50;
		.screen2{
			margin-top:30rem;
			height:420px;
			width: 236px;
			z-index:15;
		}
		.screen3{
			margin-top:30rem;
			height:420px;
			width: 236px;
			z-index:30;
		}
		.screen4{
			margin-top:30rem;
			height:420px;
			width: 236px;
			z-index:35;
		}
	}
	.overlay{
		top:-6.5rem;
		position:absolute;
		transform: scale(.51);
		margin-left:11.35rem;
		z-index:60;
	}
	.phone{
		position:absolute;
		top:-15.2rem;
		transform: scale(.5);
		margin-left:7.3rem;
		z-index:10;
	}
	.mobile_screen{
		top:-6.5rem;
		position:absolute;
		transform: scale(.51);
		margin-left:11.35rem;
		z-index:13;
	}


}
#pagepiling{
	transition-timing-function: ease-in-out;
	
	.section{
		transition: background 1s ease;
		transition: .5s ease-in-out;
		background-color:$blueFirstPage;
		.sunglasses{
			top:-12rem;
			display: block;
			position:absolute;
			transform: scale(.5);
			margin-left:20rem;
			margin-right:16rem;
		}
		.seaweed{
			top:-12rem;
			display: block;
			position:absolute;
			transform: scale(.5);
			margin-left:30rem;
			margin-right:16rem;
		}
		.leash{
			//top:-2rem;
			display: block;
			position:absolute;
			transform: scale(.6);
			margin-top:0rem;
			margin-left:-18rem;
		}
		.napkin{
			top:-2rem;
			display: block;
			position:absolute;
			transform: scale(.5);
			margin-top:10rem;
			margin-left:-18rem;
		}
		.tasse{
			top:-12rem;
			display: block;
			position:absolute;
			transform: scale(.5);
			margin-left:36rem;
			margin-right:16rem;
		}
		.donut{
			bottom:-12rem;
			display: block;
			position:relative;
			transform: scale(.5);
			right: 0rem;
			margin-left:40rem;
		}
		.headphones{
			bottom:50rem;
			display: block;
			position:relative;
			transform: scale(.5);
			right: 0rem;
			margin-left:35rem;
		}
		.sushi{
			bottom:80rem;
			display: block;
			position:relative;
			transform: scale(.5);
			//right: 0rem;
			margin-left:46rem;

		}
		.newspaper{
			bottom:6rem;
			display: block;
			position:relative;
			transform: scale(.5);
			//right: 0rem;
			margin-left:30rem;

		}
		.chopsticks{
			bottom:-5rem;
			display: block;
			position:relative;
			transform: scale(.5);
			left: -33rem;
			//margin-left:40rem;

		}
		.bg_arch{
			-webkit-transition:.5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			position:absolute;
			top:-30rem;
			left:-52rem;
			transform: scale(.5);
		}
		.bg_rect{
			-webkit-transition:.5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			position:absolute;
			top:0rem;
			left:-90rem;
			transform: scale(.5);

		}
		.bg_cloud{
			-webkit-transition:.5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			opacity:1;
			position:absolute;
			//top:1600rem;
			left:-75rem;
			transform: scale(.5);
		}
		.bg_square{
			-webkit-transition:.5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			position:absolute;
			//top:0rem;
			left:-30rem;
			transform: scale(.5);
		}
	}
	
}
