extends layout

block content

  if (!user)
    div.accueil
      span.letter.letterd D 
      span.letter.letterr r
      span.letter.lettera a 
      span.letter.letterw w  
      img.pen(src='/img/pen.png' alt="pen")
  if (user)
    div.boxMenu
      a.menu(href='/solo') Solo
      a.menu(href='/multijoueur') Multijoueurs
      a.menu(href='/scores') Scores
    