extends layout

block content

  if (!user)
    h1.accueil Draw 
  if (user)
    div.boxMenu
      a.menu(href='game') Solo
    div.boxMenu
      a.menu(href='#') Multijoueurs
    div.boxMenu
      a.menu(href='#') Scores
      

 
	

  