extends layout

block content
  button.choose(data-mode ='1') Start 
  div.color
    a.black
    a.Yellow 
    a.LightGreen 
    a.DeepSkyBlue 
    a.transparent
  div.victoire
    p.title Victoire 
      span.points +10pts
    a.continuer(href='/multijoueur') Continuer
    a.retour(href='/') Retour
  canvas(id='canvas')
  script(src='/javascript/game.js')

