body {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/square.png);
  background-repeat: repeat;
  overflow: hidden;
  position: relative;
  text-align: center; }
  body canvas {
    height: 100vh;
    width: 100vw; }

/*--------------header ---------------*/
a {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

h2.guess {
  bottom: 12rem;
  font-family: "Londrina Outline", cursive;
  font-size: 6rem;
  margin: 0;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

h2.wait {
  top: 40%;
  font-family: "Londrina Outline", cursive;
  font-size: 6rem;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

nav.navbar.navbar-default {
  position: absolute;
  height: 6rem;
  width: 100vw;
  z-index: 10;
  background-image: url(../img/triangles.png);
  background-repeat: repeat;
  line-height: 6rem;
  margin: 0;
  border: none;
  border-radius: 0; }

/*--------------all pug content & containers ---------------*/
.container, .content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Londrina Outline", cursive; }

/*-------------- titre draw ---------------*/
.accueil {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24rem;
  min-width: 80rem; }

.accueil .letter {
  display: inline-block;
  line-height: 1em; }

/*-------------- select 3 option game ---------------*/
div.boxMenu {
  height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

a.menu {
  color: black;
  margin: auto;
  outline: none;
  text-decoration: none;
  font-size: 12rem; }

/*------------------------------Footer-----------------------------*/
#footer {
  z-index: 9;
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 100vw;
  background-image: url(../img/triangles.png);
  background-repeat: repeat; }

.footercontainer {
  text-align: center;
  color: white; }

.footercontainer p {
  line-height: 6rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

/*------------------------------Formulaires login register-----------------------------*/
.content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto; }

.form-signin input {
  background: transparent;
  border: 1px solid black;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 6rem;
  width: 38rem; }

.btn.btn-block {
  background-color: transparent;
  font-size: 6rem;
  outline: none;
  border: none;
  color: black; }

.btn.btn-block:active:focus {
  outline: none !important;
  box-shadow: none;
  text-decoration: none;
  color: black;
  background-color: transparent; }

/*----------2 column login---------------*/
.content > div.box1, .content > div.box2 {
  flex: 1; }

.box2 {
  font-size: 12rem; }

.form-signin-heading {
  font-size: 7.5rem;
  margin-top: 8rem; }

.form-control:focus {
  border-color: black;
  -webkit-box-shadow: none;
  outline: none; }

/*----------register--------------*/
.register .form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 100%; }

/*-----------------------------------------------------------*/
.penlogo {
  transform: rotate(80deg);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.modejeu {
  height: 100vh;
  width: 100vw;
  position: relative; }

.mode {
  flex-direction: column;
  font-size: 12rem;
  outline: none;
  text-decoration: none;
  color: black; }

.mode:hover, .mode:active, .mode:focus {
  outline: none !important;
  box-shadow: none;
  text-decoration: none;
  color: black; }

.scores {
  width: 60rem;
  height: 60rem;
  background-color: black;
  margin: auto;
  opacity: .6;
  color: white;
  font-size: 12rem; }

.line {
  min-width: 1.3px;
  height: 50%;
  opacity: .5;
  background-color: black; }

.hidden {
  display: none; }

button.choose {
  border: none;
  box-shadow: none;
  font-size: 12rem;
  outline: none;
  text-decoration: none;
  background: transparent;
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#input {
  width: 30rem;
  height: 4rem;
  bottom: 8rem;
  position: absolute;
  border: 1px black solid;
  display: none;
  font-family: "Londrina Outline", cursive;
  font-size: 6rem;
  background: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#input:focus {
  outline: none; }

#devinez {
  display: none;
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  background: black;
  bottom: 8rem;
  right: 15rem;
  border: none;
  color: white;
  font-family: "Indie Flower", cursive; }

.wrong {
  position: absolute;
  font-size: 4rem; }

.victoire {
  background: transparent;
  min-height: 36rem;
  display: none;
  position: absolute;
  width: 100%; }
  .victoire .title {
    width: 100%;
    height: 4rem;
    font-size: 8rem; }
    .victoire .title .points {
      font-size: 6rem; }
  .victoire .continuer {
    width: 100%;
    height: 8rem;
    background: transparent;
    font-size: 8rem;
    border: none;
    outline: none;
    margin-bottom: 2rem;
    margin-top: 4rem;
    box-shadow: none;
    text-decoration: none; }
  .victoire .retour {
    background: transparent;
    width: 100%;
    height: 8rem;
    outline: none;
    font-size: 8rem;
    border: none;
    box-shadow: none;
    text-decoration: none; }

.color {
  background-color: white;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  width: 12rem;
  height: 12rem; }
  .color .black {
    width: 6rem;
    height: 6rem;
    background-color: black; }
    .color .black:hover {
      opacity: .5;
      cursor: default; }
  .color .Yellow {
    width: 6rem;
    height: 6rem;
    background-color: Yellow; }
    .color .Yellow:hover {
      opacity: .5;
      cursor: default; }
  .color .LightGreen {
    width: 6rem;
    height: 6rem;
    background-color: LightGreen; }
    .color .LightGreen:hover {
      opacity: .5;
      cursor: default; }
  .color .DeepSkyBlue {
    width: 6rem;
    height: 6rem;
    background-color: DeepSkyBlue; }
    .color .DeepSkyBlue:hover {
      opacity: .5;
      cursor: default; }
  .color .transparent {
    position: absolute;
    bottom: -12rem;
    width: 12rem;
    height: 12rem;
    background: url(../img/gomme.png);
    background-repeat: no-repeat;
    background-size: cover; }
