

body {
  width:100vw;
  height: 100vh;
  background-image: url(../img/square.png);
  background-repeat: repeat;
  overflow:hidden;
}
canvas { 
  height: 100vh; 
  width: 100vw; 
}
/*--------------header ---------------*/

nav.navbar.navbar-default{
  position:absolute;
  height: 6rem;
  width: 100vw; 
  z-index: 10;
  background-image: url(../img/triangles.png);
  background-repeat: repeat;
  line-height: 6rem;
  margin:0;
  border:none;
  border-radius: 0;
}

/*--------------all pug content & containers ---------------*/

.container, .content{

  height: 100vh; 
  width: 100vw; 
  margin:0;
  padding:0;
  font-family: 'Londrina Outline', cursive;
}

/*-------------- titre draw ---------------*/

.accueil{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23rem;
  min-width: 80rem;
}

.accueil .letter {
  display: inline-block;
  line-height: 1em;
}

/*-------------- select 3 option game ---------------*/

div.boxMenu{
 height: 70rem;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
a.menu{
  margin:auto;
  outline:none;
  text-decoration: none;
  font-size: 12rem;
}
/*------------------------------Footer-----------------------------*/

#footer{
  z-index: 9;
  position:absolute;
  bottom:0;
  height: 6rem;
  width: 100vw; 
  background-image: url(../img/triangles.png);
  background-repeat: repeat; 
}

.fcontainer{
  text-align: center;
  color: white;
}
.fcontainer p{
  line-height: 6rem;
}

/*------------------------------Formulaires-----------------------------*/

.form-signin {
 background: transparent;
 //border: 1px solid black;
 max-width: 360px;
 padding: 15px;
 margin: 0 auto;
}

.form-signin input {
 background: transparent;
 border: 1px solid black;
 font-size: 4rem;

 margin-top: 4rem;
 margin-bottom: 4rem;
 height: 6rem;
}

.btn.btn-block{
  background-color: transparent;
  font-size: 12rem;
  outline: none;
}
.content{
 display: flex;
 align-items: center;
 text-align: center;
}
.box2{
  font-size: 12rem;
}

.content > div.box1, .content > div.box2 {
  flex: 1;
}
.form-signin-heading{
  font-size: 12rem;
}
.form-control:focus {
  border-color:black;
  -webkit-box-shadow: none;
  outline: none;
}


.penlogo{
  transform:rotate(80deg);
  position:absolute;
  top:0;
}
